@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');


@font-face {
    font-family: headerfont;
    src: url("../fonts/gilroy-extrabold.otf");
}

div {
    font-family: myFirstFont;
}

body {
    background-image: radial-gradient(#192637, #23272b);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    font-family: headerfont;
    color: white;
}

.navigator {
    font-family: 'Inter', sans-serif;
}

.buttonstarted {
    float: right;

}

.getstarted {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.icon {
    top: 2px;
    left: 10px;
}

.previewimage {
    display: block;
    margin-left: 33%;
    margin-right: 67%;
    width: 100%;
    border-radius: 50%;

}



.right {
    padding-left: 60%;
}

.left {
    float: left;
    padding-left: 10%
}

.button {
    background-color: #7289da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
}

.button:hover {
    background-color: #4d66c1;
}

.bottomRightThingThatTheOtherClassesDidntWorkWith {
    padding-left: 2rem;
    float: left;
}

.image {
    border-radius: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    background-color: #36393f;
    font-family: Arial;
    color: rgba(255, 255, 255, 0.685);
    border-radius:6px;
    -moz-border-radius:6px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 25px;
    border-left: 10px;
    border-top: 20px;
    border:rgba(255, 255, 255, 0.685)
  }
  


  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
  
  
